esp-idf
build
logs-*
.venv
.DS_Store
__pycache__
logs
results-split
sdkconfig.old
.vscode
artifacteval/helperscripts/td-*
artifacteval/figures/results*
*.csv
7.8-table.tex
7.9-table.tex
artifacteval/figures/*.aux
artifacteval/figures/*.fdb_latexmk
artifacteval/figures/*.fls
artifacteval/figures/*.log
artifacteval/figures/*.pdf